@font-face {
    font-family: equinox-regular;
    src: url('../webfonts/EquinoxRegular.woff');
}

@font-face {
    font-family: equinox-bold;
    src: url('../webfonts/EquinoxBold.woff');
}

@font-face {
    font-family: gothic-bold;
    src: url('../webfonts/CocoGothic-Bold_trial.ttf');
}

@font-face {
    font-family: gothic-heavy;
    src: url('../webfonts/CocoGothic-Heavy_trial.ttf');
}

@font-face {
    font-family: century-gothic-regular;
    src: url('../webfonts/CenturyGothicPaneuropeanRegular.ttf');
}

@font-face {
    font-family: century-gothic-bold;
    src: url('../webfonts/CenturyGothicPaneuropeanBold.ttf');
}



html {
    width: 100%;
}

body {
    background-color: #1B1836;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p {
    left: 0;
    margin: 0;
    background-color: #1B1836;
    font-family: century-gothic-regular;
    font-size: 2vw;
    color: white;
    padding: 2vw 5vw 2vw 5vw;
    justify-content: center;
    align-items: center;
}

#header h2 {
    font-family: equinox-bold;
    margin-top: 15vh;
    /* Using vh for vertical margin */
    margin-bottom: 3vh;
    /* Using vh for vertical margin */
    font-size: 6vw;
    /* Using vw for responsive font size */
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px #212020;
}

#header nav {
    position: absolute;
    top: 0em;
    right: 3em;
}

#header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header nav ul li {
    display: inline-block;
    margin-left: 1.3em;
}

#header nav ul li a {
    border: 0;
    color: white;
    display: inline-block;
    font-size: 1.5em;
    outline: 0;
    text-decoration: none;
    font-family: equinox-bold;
    transition: color 0.3s ease;
    text-shadow: 2px 2px 8px #212020;
}

#header nav ul li a:hover {
    color: #AE445A;
    /* Change color on hover */
}



/* Default style for larger screens */
#headline {
    width: 100%;
    max-width: 40em;
    height: auto;
    background: rgba(28, 25, 56, 0.8);
    backdrop-filter: blur(2px);
    border-radius: 42px 0 0 42px;
    text-align: left;
    padding-left: 2%;
    font-family: gothic-bold;
    font-size: 1.6vw;
    color: white;
    float: right;
    padding: 0.8em 0 0.8em 1em;
}



#bannerbuttons {
    display: flex;
    flex-direction: row;
    margin-top: 18vh;
    justify-content: center;
    z-index: 50;
    width: 100vw;
    gap: 6vw;
    /* Using vw for gap */
}
#trstars{
    position: absolute;
    height: 20vh;
    width: 100vw;
    object-fit: contain;
}
#ftrstars{
    position: absolute;
    margin-top: 30vh;
    height: 100vh;
    width: 86vw;
}
#rstars{
    position: absolute;
    height: 80vh;
    width: 100vw;
    object-fit: contain;
    margin-bottom: 130vh;
}
#meet {
    border-radius: 40px;
    background-color: #1C1938;
    color: white;
    font-family: century-gothic-regular;
    border: 2px solid transparent;
    font-size: 1.2vw;
    /* Using vw for font size */
    width: 18vw;
    /* Using vw for width */
    height: 3em;
}

#meet:hover {
    background-color: #221f3c;
}

#sponsor {
    border-radius: 40px;
    font-family: century-gothic-regular;
    background-color: white;
    color: #66244A;
    border: 2px solid #66244A;
    font-size: 1.22vw;
    /* Using vw for font size */
    width: 18vw;
    /* Using vw for width */
    height: 3em;
}

#sponsor:hover {
    background-color: rgb(219, 219, 219);
}

#rover {
    border-radius: 40px;
    font-family: century-gothic-regular;
    background-color: white;
    color: #66244A;
    border: 2px solid #66244A;
    font-size: 1.22vw;
    /* Using vw for font size */
    width: 18vw;
    /* Using vw for width */
    height: 3em;
}

#rover:hover {
    background-color: rgb(219, 219, 219);
}

.image-div {
    width: 100%;
    height: 100vh;
    /* Full screen height */
    background-image: url('../../images/homebg.jpg');
    /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer-image-div {
    width: 100%;
    height: 85vh;
    /* Full screen height */
    background-image: url('../../images/footer.svg');
    /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
}

.footerlist {
    margin-top: 40vh;
    color: white;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: century-gothic-bold;
    margin: 0 0 0 0;
    list-style: none;
    padding-left: 0;
    font-size: 3vw;
    align-items: center;
    text-decoration: underline;
    justify-content: center;
    text-align: center;
    margin-bottom: 10vh;
}

.footericons {
    height: 5vh;
    width: 5vw;
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
    gap: 2vw
}

.footerimg {
    height: 10vh;
    width: 10vw;
}

.image-div::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    /* Adjust the height of the gradient */
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0) 0%, #1B1836 100%);
}

.blue-div {
    width: 100%;
    height: 100vh;
    /* Full screen height */
    background-color: #1B1836;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
}

#header nav img {
    position: relative;
    float: inline-start;
}

#header {
    width: 100%;
    padding: 1em 0em;
    /* Adjust background color as needed */
    padding: 0;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#logo-img {
    height: 18%;
    /* Adjust the height as needed */
    width: 22%;
    /* Maintain aspect ratio */
    margin-left: 7%;
}

#logo-img2 {
    height: 50vh;
    /* Adjust the height as needed */
    width: 40vw;
    margin-top: 2vh;
}

#nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav ul li {
    margin-left: 1.3em;
}

#nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: equinox-bold;
    transition: color 0.3s ease;
}

#nav ul li a:hover {
    color: #AE445A;
    /* Change color on hover */
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

#menu-icon {
    display: none;
    font-size: 6em;
    font-weight: bold;
}

#close-icon {
    display: none !important;
}


.discoveryh2 {
    font-family: equinox-bold;
    font-size: 4vw;
    text-align: center;
    margin-top: 3vh;
    color: white;
    margin-bottom: 0%;
}
.discoveryh3 {
    font-family: equinox-bold;
    font-size: 5vw;
    text-align: center;
    margin-top: 15vh;
    color: white;
    margin-bottom: 0%;
    padding-left: 2vw;
    padding-right: 2vw;
}

#footerp {
    background-color: transparent;
    margin-top: 0vh;
}

.contentp {
    background-color: transparent;
    font-size: 3.7vw;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0;
}

#teamrover1 {
    height: 180vh;
    width: 100%;
    background-color: #66244A;
    border-radius: 100vh 100vh 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#teamrover2 {
    height: 180vh;
    width: 100%;
    background-color: #AE445A;
    border-radius: 100vh 100vh 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#teamrover3 {
    height: 180vh;
    width: 100%;
    background-color: #F39D62;
    border-radius: 100vh 100vh 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#teamrover4 {
    height: 180vh;
    width: 100%;
    background-color: #1B1836;
    border-radius: 100vh 100vh 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-div {
    width: 100%;
    height: 100vh;
    /* Full screen height */
    background-image: url('../../images/homebg.jpg');
    /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#h2star1{
    position: absolute;
    margin-top: 0vh;
    height: 14vh;
    width: 17vw;
}
#h2star2{
    position: absolute;
    margin-top: 5vh;
    height: 8vh;
    width: 76vw;
    margin-left: 50vw;
}
#h2star3{
    position: absolute;
    margin-top: 0vh;
    height: 8vh;
    width: 76vw;
    margin-left: 30vw;
}
.roverbutton {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}
#teamleadsdiv {
    display: flex !important;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    gap: 2vw;
    overflow: hidden;
    width: 80vw;
    margin: auto;
    margin-top: 3vh;
}

#progressdiv {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    gap: 2vw;
    overflow: hidden;
    width: 100vw;
    margin: auto;
    margin-top: 3vh;
}

.progress {
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: #AE445A;
    border-radius: 85px;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    height: 90vh;
    width: 70vw;
    transition: transform 0.5s ease;
    padding: 1vh 1vw 1vh 1vw;
}

.progress img {
    margin-top: 3vh;
    height: 40vh;
    width: 50vw;
}

.progress p {
    background-color: transparent;
}

#updates {
    border-radius: 40px;
    background-color: #1C1938;
    color: white;
    font-family: century-gothic-regular;
    border: 2px solid transparent;
    font-size: 1.2vw;
    /* Using vw for font size */
    width: 12vw;
    /* Using vw for width */
    height: 3em;
}

.gallery {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 45vw);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 4vw;
    overflow: auto;
    height: 55vh;
    scroll-padding: 1rem;
    overflow-y: hidden;
    margin-left: 5vw;
    margin-right: 5vw;
    /* box-shadow: 5px 5px 5px 5px #312c55 inset; */
    border-radius: 5px;
  }

  ::-webkit-scrollbar {
    width: 16px;  /* Increase the width of the scrollbar */
    height: 16px; /* Increase the height of the scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1B1836; 
    border: 3px solid #441B52;
  }
.active {
	scroll-snap-type: unset;
}

.gallery li {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 80px;
	font-size: 0;
  width:40vw;
}
#pattern {
    height: 60vh;
    width: 60vw;
}

#sponsorimg {
    height: 60vh;
    width: 40vw;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .contentp {
        background-color: transparent;
        font-size: 5vw;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 0 !important;
    }

    #teamrover1 {
        height: 100vh;
        width: 100%;
        border-radius: 100vh 100vh 0 0;
    }

    #teamrover2 {
        height: 100vh;
        width: 100%;
        border-radius: 100vh 100vh 0 0;
    }
    #trstars{
        position: absolute;
        height: 10vh;
        width: 100vw;
        object-fit: contain;
    }
    #ftrstars{
        position: absolute;
        margin-top: 1.3vh;
        height: 60vh;
        width: 100vw;
        object-fit: contain;
    }
    #rstars{
        position: absolute;
        height: 20vh;
        width: 100vw;
    }
    #h2star1{
        margin-top: 5vh;
        margin-left: 5vw;
        height: 9vh;
    }
    #h2star2{
        margin-top: 5vh;
        margin-left: 40vw;
    }
    #h2star3{
        position: absolute;
        margin-top: 0vh;
        height: 8vh;
        width: 76vw;
        margin-left: 53vw;
    }
    .gallery{
        height: 24vh;
        width: 87vw;
        margin-left: 5vw;
        margin-right: 5vw;
        grid-template-columns: repeat(5, 85vw);
    }
    .gallery li {
        scroll-snap-align: center;
        display: inline-block;
        border-radius: 7vh;
        font-size: 0;
      width:80vw;
    }
    .gallery img{
        height: 80%;
        width: 50%;
    }
    #progressdiv {
        width: 80vw;
        height: 60vh;
    }

    .progress {
        height: 50vh;
        width: 70vw;
    }

    .progress img {
        height: 20vh;
        width: 40vw;
    }

    .progress p {
        font-size: 3.8vw;
    }
    #pattern {
        height: 30vh;
        width: 70vw;
    }

    #sponsorimg {
        height: 30vh;
        width: 70vw;
    }
    #teamrover3 {
        height: 100vh;
        width: 100%;
        border-radius: 100vh 100vh 0 0;
    }
    #teamrover4 {
        height: 100vh;
        width: 100%;
        border-radius: 100vh 100vh 0 0;
    }

    #header h2 {
        margin-top: 15vh;
        font-size: 12vw;
    }

    #headline {
        font-size: 5vw;
        width: 85vw;
        padding: 1.2em 0 1.2em 2em;
        line-height: 1.4sem;
    }

    .discoveryh2 {
        font-family: equinox-bold;
        font-size: 13vw;
        text-align: center;
        margin-top: 4vh;
        color: white;
        margin-bottom: 0%;
        padding-left: 8vw;
        padding-right: 6vw;
    }
    .discoveryh3 {
        font-family: equinox-bold;
        font-size: 10vw;
        text-align: center;
        margin-top: 9vh;
        color: white;
        margin-bottom: 0%;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    p {
        left: 0;
        margin: 0;
        background-color: #1B1836;
        font-family: century-gothic-regular;
        font-size: 5vw;
        color: white;
        padding: 2vw 8vw 2vw 8vw;
        margin-bottom: 2vh;
        margin-top: 2vh;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    #bannerbuttons {
        flex-direction: column;
        /* Stack buttons vertically on smaller screens */
        gap: 2em;
        /* Reduce gap for smaller screens */
        justify-content: center;
        align-items: center;
    }


    #meet,
    #sponsor,
    #rover {
        width: 70vw;
        /* Increase width for smaller screens */
        font-size: 4vw;
        /* Increase font size for smaller screens */
    }

    #updates {
        font-size: 3vw;
        /* Using vw for font size */
        width: 20vw;
        /* Using vw for width */
        height: 3vh;
    }

    #logo-img {
        height: 200%;
        /* Adjust as needed */
        width: 60%;
        margin-left: 6% !important;
    }

    #header nav {

        margin-top: 0% !important;
        right: 0% !important;
    }

    .footerimg {
        height: 16vh;
        width: 15vw;
    }

    .footerlist {

        font-size: 7vw;

    }

    #header nav ul {
        display: none;
        /* Hide menu initially */
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #1B1836;
        border-radius: 10px;
        padding: 1em;
        z-index: 1000;
    }

    #header nav ul li {
        margin: 1em 0;
    }

    #header nav ul li a {
        font-size: 1.2em;
    }

    .footericons {
        margin-top: 6vh;
    }

    .footer-image-div {
        width: 100%;
        height: 50vh;
        background-image: url('../../images/footer.svg');
        /* Replace with your image URL */
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        justify-content: center;
        color: white;
        bottom: 0%;
    }

    #footerp {
        background-color: transparent;
        margin-top: 0vh;
        font-size: 4vw;
    }

    #menu-icon {
        display: block;
        font-size: 2em;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    #close-icon {
        display: block !important;
        font-size: 1.3em;
        cursor: pointer;
        color: white;
        position: absolute;
        top: 0em;
        margin-top: 0em !important;
        right: 0.2em !important;
        z-index: 1001;
        /* Ensure it is above the list items */
    }



    #logo-img2 {
        height: 36%;
        /* Adjust the height as needed */
        width: 64%;
        margin-top: 2vh;
    }

}

